.sidebar{
    width:280px;
    height:100vh;
    background:#1e293b;
    color:white;

    display:flex;
    flex-direction:column;

    padding:30px 22px;

    position:sticky;
    top:0;
}

.sidebar-top h2{

    font-size:24px;
    font-weight:700;

    margin-bottom:50px;

    color:white;

}

.sidebar-top span{

    color:#60a5fa;

}

.sidebar nav{

    display:flex;
    flex-direction:column;

    gap:12px;

    flex:1;

}

.sidebar nav a{

    display:flex;
    align-items:center;

    gap:14px;

    text-decoration:none;

    color:#cbd5e1;

    padding:14px 18px;

    border-radius:14px;

    transition:.25s;

    font-size:16px;

}

.sidebar nav a:hover{

    background:rgba(255,255,255,.06);

    color:white;

}

.sidebar nav a.active{

    background:#dbeafe;

    color:#2563eb;

    font-weight:600;

}

.sidebar-bottom{

    display:flex;
    flex-direction:column;

    gap:12px;

}

.settings-btn,
.logout-btn{

    display:flex;

    justify-content:center;
    align-items:center;

    gap:10px;

    padding:13px;

    border-radius:14px;

    cursor:pointer;

    font-size:15px;

    transition:.25s;

}

.settings-btn{

    background:transparent;

    border:1px solid #475569;

    color:#e2e8f0;

}

.settings-btn:hover{

    background:#334155;

}

.logout-btn{

    background:white;

    color:#1e293b;

    border:none;

}

.logout-btn:hover{

    background:#f1f5f9;

}