:root{

    --bg:#f4f7fb;
    --card:#ffffff;

    --text:#1e293b;
    --subtext:#64748b;

    --border:#e5e7eb;

    --primary:#2563eb;
}

body.dark{

    --bg:#0f172a;
    --card:#1e293b;

    --text:#f8fafc;
    --subtext:#cbd5e1;

    --border:#334155;

    --primary:#3b82f6;
}

body{

    background:var(--bg);
    color:var(--text);
    margin: 0;
    transition:.3s;
}
html,
body,
#root {
    min-height: 100%;
    background: var(--bg);
    color: var(--text);
}